*
!.gitignore
!.github/
!.github/workflows/
!.github/workflows/build.yml
!README.md
!info.plist
!icon.png
!LICENSE
!LICENSE-UTM
!ATTRIBUTION.md
!bin/
!bin/vm-list
!bin/vm-actions
!bin/vm-clone-name
!bin/vm-run
!lib/
!lib/utm-common.zsh
!lib/utm-metadata.js
