*
!.gitignore
!.github/
!.github/workflows/
!.github/workflows/build.yml
!README.md
!images/
!images/utm-2.png
!images/utm-3.png
!info.plist
!icon.png
!LICENSE
!LICENSE-UTM
!ATTRIBUTION.md
!bin/
!bin/**
